{% extends 'base.html' %}
{% block content %}
    <ul class="list-group m-5 align-items-center">
        <h1 class="mb-2">موجودی انبار ها</h1>
        {% for inventoryproduct in inventoryproduct_list %}


            <li class="list-group-item city-list w-50 ">
                <div class="row">
                    <div class="col"> {{ inventoryproduct.inventory.city.name }} </div>
                    <div class="col">
                        {{ inventoryproduct.product.name }}
                    </div>
                    <div class="col">
                        {{ inventoryproduct.quantity }}
                    </div>
                    <div class="col">
                        <a class="btn btn-danger" href="{% url 'inventoryproductdelete' inventoryproduct.id %}">حذف</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary" href="{% url 'inventoryproductupdate' inventoryproduct.id %}">ویرایش</a>
                    </div>

                </div>
            </li>

        {% endfor %}
        <a href="{% url 'inventoryproductcreate' %}" class="btn btn-primary mt-2">افزودن موجودی انبار</a>
    </ul>
{% endblock %}