{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid w-25">
            <div class="row">
                <div class="col">
                    <label>انبار:</label>
                </div>
                <div class="col">
                    {{ form.inventory }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>محصول:</label>
                </div>
                <div class="col">
                    {{ form.product }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>مقدار:</label>
                </div>
                <div class="col">
                    {{ form.quantity }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button type="submit" class="btn btn-success" id="sub">ذخیره</button>
                    <a class="btn btn-danger" href="{% url 'inventoryproduct' %}">لغو</a>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </form>
{% endblock %}